<div class="app">
  <!-- <a routerLink = "dynamicform">Dynamic Form </a>
  <a routerLink = "hello-world">hello-world</a>
  <a routerLink = "books/12">books</a>
  <a routerLink = "login">Login</a>
  <a routerLink = "server">server</a>
  <a routerLink = "admin">Admin</a>
  <a routerLink = "home">Home</a>
  <a routerLink = "add-product">Add Product</a> -->
  <!-- <app-hello-world></app-hello-world>
  <app-app-menu></app-app-menu>
  <app-app-login></app-app-login>
  <app-app-home></app-app-home>
  <app-app-footer></app-app-footer>
  <app-form></app-form> -->
  <!-- <app-dynamicform></app-dynamicform> -->
  <app-app-menu></app-app-menu>
   <router-outlet></router-outlet>
   <!-- <app-server></app-server> -->
</div>